ul {
    list-style-type: none;
}

li {
    margin-bottom: 30px;
}

body {
    background: url('../resources/bckground_staticimage.png') no-repeat fixed;
    background-size: cover;
    color: white;
}

#home-button {
    position: absolute;
    top: 25px;
    left: 25px;
}

#phone-button {
    position: absolute;
    top: 25px;
    right: 25px;
}

#home-button:hover {
    cursor: pointer;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

#scrollImg {
    width: 35px;
    object-fit: scale-down;
}

.jumbotron {
    font-size: 1.25em;
    color: white;
    background: none;
}

.nav-img {
    width: 6vw;
}

.thumbnail-container {
    margin: 10px;
}

.home-thumbnail-image {
    background-color: #694955;
    border-color: #fbe372;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0;
    width: 100px;
}

.thumbnail {
    background-color: #694955;
    border-color: #fbe372;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0;
    width: 150px;
}

.thumbnail:hover {
    cursor: pointer;
}

.day-title {
    border-bottom: 1px solid white;
    width: 100%;
}

.day-sets .day-title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.home-thumbnails {
    margin-right: 15px;
}

.carousel {
    background-color: #694955;
    border-color: #fbe372;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0;
    margin-top: 50px;
}

.carousel-image {
    width: 100%;
    object-fit: scale-down;
}