<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Devilish Delights</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
</head>
<body>

<nav class="row no-gutters">
  <div style="background-color: black" class="row no-gutters justify-content-between w-100" id="nav-bar">
    <a href="/home" id="home-button">
      <img class="nav-img" src="resources/home_icon.png" alt="home">
    </a>
    <a href="tel:7183098153" class="float-right" id="phone-button">
      <img class="nav-img" src="resources/phone_icon.png" alt="phone">
    </a>
  </div>
  <img src="resources/lockscreen/banner.png" style="width: 100%; max-height: 20vh"/>
</nav>

<div class="container">
  {{{body}}}
</div>

<footer style="height: 50px"></footer>

<div class="d-flex justify-content-center">
<button onclick="topFunction()" id="scrollBtn" title="Go to top"><img id="scrollImg" src="public/images/uparrow.png">
</button>
</div>
<script>
  scrollBtn = document.getElementById("scrollBtn");

  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      scrollBtn.style.display = "block";
    } else {
      scrollBtn.style.display = "none";
    }
  }

  function topFunction() {
    $('html,body').animate({scrollTop: 0}, 75);
  }

</script>
</body>
</html>