{{#each day}}
  <div class="row">
    {{this.name}}
  </div>

  <div class="row">
    {{#each set}}
      <div class="col">
        <a href="/model/{{this.model_id}}">
          <img class="thumbnail" src="/thumbnail/{{this.thumbnail}}">
        </a>
      </div>
    {{/each}}
  </div>
{{/each}}
